* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800000;
  padding: 1rem 5%;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar ul li a:hover {
  color: #ffd700;
}

/* Home Section */
.profile-icon {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    width: 350%;
    height: 350%;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 50%;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffe6e6, #fff);
  text-align: center;
}

.home h2 span {
  color: #800000;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #800000;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #a00000;
}

/* About Section */
.about, .skills, .contact {
  padding: 60px 10%;
  text-align: center;
}

.about p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Skills Section */
.skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill {
  background-color: #800000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

/* Contact Section */
.contact p {
  margin: 10px 0;
}

/* Footer */
footer {
  background-color: #800000;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
